<!doctype html>
<html lang="{{#if lang}}{{lang}}{{else}}<%= project.language %>{{/if}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{#if title}}{{title}}{{else}}{-}{{/if}}</title>
    <meta name="description" content="{{#if description}}{{description}}{{else}}{-}{{/if}}">
    <meta name="keywords" content="{{#if keywords}}{{keywords}}{{else}}{-}{{/if}}">
    <meta name="viewport" content="width=device-width, initial-scale=1"><% if (include.humans) { %>
    <link rel="author" href="humans.txt" /><% } %><% if (use.jqueryLogoDownloadtip) { %>

    <!-- Logos downloadtip -->
    <link rel="icon" type="image/png" href="<%= folder.images.dest %>/logos/logo.png" data-title="Screen Bitmap file (.png)" />
    <link rel="icon" type="image/png" href="<%= folder.images.dest %>/logos/logo-monochrome.png" data-title="Screen Monochrome Bitmap file (.png)" />
    <link rel="icon" type="image/svg+xml" href="<%= folder.images.dest %>/logos/logo.svg" data-title="Screen Vector file (.svg)" />
    <link rel="icon" type="image/svg+xml" href="<%= folder.images.dest %>/logos/logo-monochrome.svg" data-title="Screen Monochrome Vector file (.svg)" />
    <link rel="icon" type="image/eps" href="<%= folder.images.dest %>/logos/logo.eps" data-title="Print file (.eps)" />
    <link rel="icon" type="image/eps" href="<%= folder.images.dest %>/logos/logo-monochrome.eps" data-title="Print Monochrome file (.eps)" /><% } %>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="theme-color" content="{-}">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="<%= folder.images.dest %>/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{{#if title}}{{title}}{{else}}{-}{{/if}}">
    <link rel="apple-touch-icon" href="<%= folder.images.dest %>/touch/apple-touch-icon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- build:css css/styles.combined.min.css --><% if (use.normalize) { %>
    <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css"><% } %><% if (use.outdatedBrowser) { %>
    <link rel="stylesheet" href="../node_modules/outdated-browser/outdatedbrowser/outdatedbrowser.css"><% } %><% if (use.jqueryLogoDownloadtip) { %>
    <link rel="stylesheet" href="../node_modules/jquery-logo-downloadtip/css/jquery-logo-downloadtip.css"><% } %>
    <link rel="stylesheet" href="css/styles.css">
    <!-- endbuild -->
  </head>
  <body><% if (use.outdatedBrowser) { %>
    <!-- ============= Outdated Browser ============= -->
    <div id="outdated"></div>
    <!-- ============================================ --><% } %>

{{> @partial-block }}

{{> footer}}
