<!doctype html>
<html lang="{{#if lang}}{{lang}}{{else}}<%= project.language %>{{/if}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{#if title}}{{title}}{{else}}Untitled{{/if}}</title>
    <meta name="description" content="{{#if description}}{{description}}{{/if}}">
    <meta name="keywords" content="{{#if keywords}}{{keywords}}{{/if}}">
    <meta name="viewport" content="width=device-width, initial-scale=1"><% if (include.humans) { %>
    <link rel="author" href="humans.txt" /><% } %><% if (include.manifest) { %>
    <link rel="manifest" href="/manifest.json"><% } %><% if (use.jqueryLogoDownloadtip) { %>

    <!-- Logos downloadtip -->
    <link rel="icon" type="image/png" href="<%= folder.images.dest %>/logos/logo.png" data-title="Screen Bitmap file (.png)" />
    <link rel="icon" type="image/png" href="<%= folder.images.dest %>/logos/logo-monochrome.png" data-title="Screen Monochrome Bitmap file (.png)" />
    <link rel="icon" type="image/svg+xml" href="<%= folder.images.dest %>/logos/logo.svg" data-title="Screen Vector file (.svg)" />
    <link rel="icon" type="image/svg+xml" href="<%= folder.images.dest %>/logos/logo-monochrome.svg" data-title="Screen Monochrome Vector file (.svg)" />
    <link rel="icon" type="image/eps" href="<%= folder.images.dest %>/logos/logo.eps" data-title="Print file (.eps)" />
    <link rel="icon" type="image/eps" href="<%= folder.images.dest %>/logos/logo-monochrome.eps" data-title="Print Monochrome file (.eps)" /><% } %>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="theme-color" content="">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="<%= folder.images.dest %>/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{{#if title}}{{title}}{{else}}Untitle{{/if}}">
    <link rel="apple-touch-icon" href="<%= folder.images.dest %>/touch/apple-touch-icon.png">

{{#if fbType}}    <meta property="og:type" content="{{fbType}}">{{/if}}{{#if fbUrl}}
    <meta property="og:url" content="{{fbUrl}}">{{/if}}{{#if fbTitle}}
    <meta property="og:title" content="{{fbTitle}}">{{/if}}{{#if fbImage}}
    <meta property="og:image" content="{{fbImage}}">{{/if}}{{#if fbDescription}}
    <meta property="og:description" content="{{fbDescription}}">{{/if}}{{#if fbSiteName}}
    <meta property="og:site_name" content="{{fbSiteName}}">{{/if}}{{#if fbLocale}}
    <meta property="og:locale" content="{{fbLocale}}">{{/if}}

{{#if twCard}}    <meta name="twitter:card" content="{{twCard}}">{{/if}}{{#if twSite}}
    <meta name="twitter:site" content="{{twSite}}">{{/if}}{{#if twCreator}}
    <meta name="twitter:creator" content="{{twCreator}}">{{/if}}{{#if twUrl}}
    <meta name="twitter:url" content="{{twUrl}}">{{/if}}{{#if twTitle}}
    <meta name="twitter:title" content="{{twTitle}}">{{/if}}{{#if twDescription}}
    <meta name="twitter:description" content="{{twDescription}}">{{/if}}{{#if twImage}}
    <meta name="twitter:image" content="{{twImage}}">{{/if}}

    <!-- build:css css/styles.combined.min.css --><% if (use.normalize) { %>
    <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css"><% } %><% if (use.outdatedBrowser) { %>
    <link rel="stylesheet" href="../node_modules/outdatedbrowser/outdatedbrowser/outdatedbrowser.css"><% } %><% if (use.jqueryLogoDownloadtip) { %>
    <link rel="stylesheet" href="../node_modules/jquery-logo-downloadtip/css/jquery-logo-downloadtip.css"><% } %>
    <link rel="stylesheet" href="css/styles.css">
    <!-- endbuild -->
  </head>
  <body>

{{> @partial-block }}

{{> footer}}
